---
http_interactions:
- request:
    method: get
    uri: http://api.openbeerdatabase.com/v1/beers/30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"89961c596a9916e6772408124fb2bbdf"'
    body:
      encoding: ASCII-8BIT
      string: '{"id":30,"name":"Satsuma","description":"Real Louisiana Satsumas, golden
        wheat, oats and the finest barley create Abita Satsuma Harvest Wit. Pale and
        cloudy, like the haze on a hot summer day, this white beer has a sweet and
        subtle citrus flavor with a touch of spice that is cool and refreshing.\n\nAbita
        Satsuma Harvest Wit is very versatile and can compliment a number of dishes.
        This brew pairs well with salads, fish, shrimp and lobster, as long as the
        dishes are not too spicy. Thai dishes, which often have citric notes in their
        flavor profile, would also perfectly compliment the orange flavors in Abita
        Satsuma Harvest Wit.","abv":5.1,"created_at":"2010-12-07T02:53:38Z","updated_at":"2010-12-07T02:53:38Z","brewery":{"id":4,"name":"Abita
        Brewing Company"}}'
  recorded_at: Sun, 17 Nov 2013 01:50:36 GMT
recorded_with: VCR 2.7.0
